# 数据目录

# DATA-DIR-BEGIN
data
# data/node1
# data/node2
# data/node3

../../../../log/kong/kong-01
../../../../log/kong/kong-02
../../../../log/kong/kong-03

# DATA-DIR-END


# 生产配置
*.prod.yml

# 生成/下载
build


# 快速通道
log
