# 数据目录

# DATA-DIR-BEGIN
data

data/mongo-r1-s1
data/mongo-r1-s2
data/mongo-r1-s3

data/mongo-r2-s1
data/mongo-r2-s2
data/mongo-r2-s3

data/mongo-conf-s1
data/mongo-conf-s2
data/mongo-conf-s3

../../../log/mongo

# DATA-DIR-END


# 生产配置
*.prod.yml
